<!DOCTYPE html>
<html lang="es">
    <meta charset="utf-8">
    <title>Mi motor de plantillas EJS</title>
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <body>