    <meta charset="utf-8">
    <title>Mi motor de plantillas EJS</title>
    <link rel="shortcut icon" href="/favicon.png" />
    
    <div class="container">
        <h1><%= title %></h1>
        <p><%= message %></p>
        <button class="button" href="/productos">ver productos</button>
    </div>
    <footer>
        <div class="footer">
            <p><bold>Copyright 2023 - Quien lo programa</bold> 🤓 </p>
        </div>
    </footer>
