<%- include('./partials/head') %>
<div class="container">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <a class="button" href="/productos"> Ver Productos </a>
</div>
<%- include('./partials/footer') %>
